.page-category {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;

  .page-header {
    height: 80px;
    flex-shrink: 0;
  }

  .page-tabs {
    flex: 1;
    overflow: hidden;

    .scrollable {
      box-sizing: border-box;
    }
  }
}
