@import "./styles/common";

page {
  height: 100%;
}

.page {
  width: 100%;
  min-height: 100%;
}

.page-wrap {
  padding: 10px;
  position: relative;
}

.text-decoration {
  text-decoration: line-through;
}

.afe-area-inset-bottom {
  padding-bottom: env(safe-area-inset-bottom);
}
